<div class="w-3/4 mx-auto bg-white rounded-xl shadow-md overflow-hidden m-4">
    <div class="p-8">
      <div class="text-xl font-semibold text-indigo-600 mb-2">
        Account Moviment
      </div>
      <p class="text-gray-500">
        Este é um card simples para testar se o Tailwind está funcionando corretamente.
        Este é um card simples para testar se o Tailwind está funcionando corretamente.        Este é um card simples para testar se o Tailwind está funcionando corretamente.        Este é um card simples para testar se o Tailwind está funcionando corretamente.        Este é um card simples para testar se o Tailwind está funcionando corretamente.
      </p>
      <button class="mt-4 px-4 py-2 bg-indigo-500 text-white rounded-lg hover:bg-indigo-600" >
        Options
      </button>
    </div>
  </div>
